.featureAreaRoot {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #dfb0b0;
}

.featureAreaConteiner {
  display: flex;
  flex-direction: column;
}

.featureAreaHeader {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.featureAreaItems {
  display: flex;
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  gap: 160px; /* space between items */
  flex-wrap: wrap; /* wrap items on smaller screens */
  text-align: left;
  padding-right: 90px;
}

.LevelItemRoot {
  width: 250px;
  height: 300px;
}

.LevelItemImageConteiner {
  width: 190px;
  object-fit: cover;
}

.LevelItemImage {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}

.LevelItemTitle {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

.LevelItemText {
  font-size: 18px;
  opacity: 0.8;
  padding-bottom: 30px;
}
