.heroAreaRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  gap: 40px;
}

/* LEFT SECTION  */
.leftAreaRoot {
  flex: 1;
  display: flex;
  justify-content: end;
}

.leftAreaSubConteiner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left; /* desktop */
  width: 100%;
  max-width: 550px;
}

.leftAreaSubHeader {
  font-size: 45px;
  font-weight: bold;
}

.leftAreaSubDescription {
  font-size: 20px;
  opacity: 0.9;
}

/* Buttons */
.heroButton {
  background: linear-gradient(79deg, #dfb0b0, #6e6c63e1);
  color: #3d361c;
  border: none;
  border-radius: 12px; /* Rounded corners for smooth, soft button appearance */
  padding: 12px 24px; /* Inner spacing: height and width of the button */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; /* Mouse cursor changes to pointer */
  transition: all 0.3s ease; /* Smooth animation for hover/active effects */
  box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2); /* Soft shadow that gives a slight 3D depth */
}

.heroButton:hover {
  transform: translateY(
    -2px
  ); /* Button moves slightly up to create a “lifted” 3D effect */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Shadow becomes larger and softer */
}

.heroButton:active {
  transform: translateY(0); /* When clicking, button goes back down */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow becomes smaller again */
}

/* RIGHT SECTION */
.rightAreaRoot {
  flex: 1;
  display: flex;
}

.rightAreaConteiner {
  object-fit: cover;
  width: 100%;
  max-width: 450px; /* responsive limit */
}

.rightAreaImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* ========================== */
/* RESPONSIVE FOR SMALL SCREENS */
@media (max-width: 830px) {
  .heroAreaRoot {
    flex-direction: column; /* stack left and right areas vertically */
    align-items: center; /* center horizontally */
    text-align: center; /* optional: center text for small screens */
  }

  .leftAreaConteiner,
  .rightAreaConteiner {
    padding: 2rem;
    width: 100%;
  }

  .leftAreaSubConteiner {
    text-align: center
  }
}
