.contact {
  min-height: 100px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  font-size: 30px;
  text-align: center;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px;
  color: #333;
  margin-top: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
}

.input-box #textarea {
  resize: none;
  height: 200px;
}

form button {
  width: 100%;
  height: 55px;
  cursor: pointer;
  background: #e0d0c0;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  color: #333;
  font-size: 15px;
}

form button:hover {
  background: #9e8a75;
}
