/* Main Header Styling */
.headerAreaRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.logoRootConteiner {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  padding-left: 25px;
}

.logoImage {
  width: 90px;
  height: auto;
}

/* main Menu Styling */
.mainMenuRootConteiner {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 5px;
  padding: 15px 45px;
}

.singleMenuItem {
  font: 40px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 12px;
}

.loginMenuItem {
  background-color: #dfb0b0;
}

.singleMenuItem:hover {
  color: rgb(255, 255, 255);
  background-color: #b5a79a;
}

.singleMenuItem:active {
  transform: translateY(0); /* When clicking, button goes back down */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow becomes smaller again */
}

/* ========================== */
/* RESPONSIVE FOR SMALL SCREENS */
@media (max-width: 619px) {
  .mainMenuRootConteiner {
    display: flex;
    flex-direction: column;
    background-color: #dfb0b0;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100vh;
    top: 0;
    right: -100%;
    width: min(12em, 100%);
    z-index: 10;
    border-left: 1px solid rgba(196, 146, 146, 0.4);
    padding: 30px 0;
    transition: right 300ms ease-out;
  }

  .mainMenuRootConteiner.shows {
    right: 0;
  }

  .singleMenuItem {
    width: 100%;
    padding: 1em 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .burgerMenu {
    display: flex;
    flex: 1;
    justify-content: end;
    padding: 20px 35px;
  }
}
