.FooterText {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

/* Footer Styling */
.FooterItemsRootConteiner {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.singleFooterItem {
  font: 40px;
  font-weight: bold;
  cursor: pointer;
}

.singleFooterItem:hover {
  color: rgb(168, 67, 67);
}